<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <link rel="stylesheet" th:href="@{/resources/page.css}" type="text/css" media="screen"></link>
    <link rel="stylesheet" th:href="@{/resources/form.css}" type="text/css" media="screen"></link>
    <link rel="stylesheet" th:href="@{/resources/messages/messages.css}" type="text/css" media="screen"></link>
    <style>
        .box {
            /* basic styling */
            /* flexbox setup */
            display: -webkit-box;
            -webkit-box-orient: horizontal;

            display: -moz-box;
            -moz-box-orient: horizontal;

            display: box;
            box-orient: horizontal;
        }

    </style>
</head>
<body>
<div id="content" layout:fragment="content">
    <p>Or you can <a th:href="@{/signup}">signup</a> with a new account.</p>

    <div class="box">
        <div>
            <form id="tw_signin" th:action="@{/signin/twitter}" method="POST">
                <input type="hidden" name="_csrf" th:value="${_csrf.token}"></input>
                <button type="submit"><img th:src="@{/resources/social/twitter/sign-in-with-twitter-d.png}"></img>
                </button>
            </form>
        </div>
        <div>
            <form name="fb_signin" id="fb_signin" th:action="@{/signin/facebook}" method="POST">
                <input type="hidden" name="_csrf" th:value="${_csrf.token}"></input>
                <input type="hidden" name="scope" value="publish_stream,user_photos,offline_access"></input>
                <button type="submit"><img th:src="@{/resources/social/facebook/sign-in-with-facebook.png}"></img>
                </button>
            </form>
        </div>
        <div>
            <form name="li_signin" id="li_signin" th:action="@{/signin/linkedin}" method="POST">
                <input type="hidden" name="_csrf" th:value="${_csrf.token}"></input>
                <button type="submit">Sign In with LinkedIn</button>
            </form>
        </div>
    </div>

</div>
</body>
</html>
