<div id="wrap">
    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.php?risorsa=index">Kairos 2.0</a>
            </div>

            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="index.php?risorsa=index"><span class="glyphicon glyphicon-home"></span>{$stringa[home]}</a>
                    </li>
                    {if="$ruolo == 'staff' or $ruolo == 'admin'"}
                    <li><a href="index.php?risorsa=materiali"><span class="glyphicon glyphicon-th-large"></span>{$stringa[materiali]}</a>
                    </li>
                    <li><a href="index.php?risorsa=cerca"><span class="glyphicon glyphicon-search"></span>{$stringa[cerca]}</a>
                    </li>
                    <li><a href="index.php?risorsa=admin_index"><span class="glyphicon glyphicon-cog"></span>{$stringa[admin]}</a>
                    </li>
                    {/if}


                    <li class="dropdown">
                        {if="$id_utente"}
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-user"></span>{$stringa[buon_lavoro]}, <b>{$id_utente}</b>
                            <b class="caret"></b></a>
                        {/if}
                        {if="!$id_utente"}
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-user"></span>{$stringa[guest_welcome]}</b>
                            <b class="caret"></b></a>
                        {/if}
                        <ul class="dropdown-menu">
                            {if="$id_utente"}
                            <li><a href="index.php?risorsa=messaggi">
                                <span class="glyphicon glyphicon-envelope"></span>
                                {$stringa[posta_interna]}</a></li>

                            <li><a href="index.php?risorsa=calendario">
                                <span class="glyphicon glyphicon-calendar"></span>{$stringa[eventi]}</a></li>
                            <li><a href="javascript:;"
                                   onclick="javascript:apri_scheda(appunti.php, myRemoteUtente,
    'height=450,width=500,alwaysLowered=0,alwaysRaised=0,channelmode=0,dependent=0,directories=0,fullscreen=0,hotkeys=1,location=0, menubar=0,resizable=1,scrollbars=1,status=0,titlebar=1,toolbar=0,z-lock=0,myWindowUtente)"
                                    ><span class="glyphicon glyphicon-list-alt"></span>{$stringa[appunti]}</a></li>
                            {/if}

                            {if="!$id_utente"}
                            <li><a href="index.php?risorsa=do_login">
                                <span class="glyphicon glyphicon-log-in"></span>
                                {$stringa[login]}</a></li>
                            {/if}

                            {if="$ruolo == 'staff' or $ruolo == 'admin'"}
                            <li><a href="index.php?risorsa=lo_repository">
                                <span class="glyphicon glyphicon-briefcase"></span>{$stringa[Repository]}</a></li>
                            {/if}

                            <li class="divider"></li>
                            <li class="dropdown-header"></li>


                            {if="!$id_utente"}
                            <a href="http://{$server}:{$port}/{$context}">
                                <span class="btn btn-mini btn-facebook"><i class="icon-facebook"></i> | Connect with
                                    Facebook
                                </span>
                            </a>
                            {/if}

                            {if="$id_utente"}
                            <li>
                                <span class="btn btn-mini btn-info"><i class="icon-info"></i> <a href="index.php?risorsa=modulo_utente">{$stringa[modifica_profilo]}</a></li>
                            {/if}
                            <li class="divider"></li>
                            <li>
                                <a tabindex="-1" href="{$script}?{$query_string}&lingua=it{$target}">
                                    Italiano
                                    <img name="flag_it" border="0" src="http://{$server}/kairos/img/flags/it.png" width="16"
                                         height="11" align="absmiddle" hspace="5" alt="versione italiana"></a>
                            </li>

                            <li>
                                <a href="{$script}?{$query_string}&lingua=us{$target}">
                                    English US
                                    <img name="flag_en" border="0" src="http://{$server}/kairos/img/flags/us.png" width="16" height="11"
                                         align="absmiddle"
                                         hspace="5" alt="english/us version"></a>
                            </li>
                            <li>
                                <a href="{$script}?{$query_string}&lingua=ro{$target}">
                                    Romana
                                    <img name="flag_ro" border="0" src="http://{$server}/kairos/img/flags/ro.png" width="16" height="11"
                                         align="absmiddle"
                                         hspace="5" alt="romanian version"></a>
                            </li>
                            <li class="divider"></li>
                            {if="$id_utente"}
                            <li>
                                <a tabindex="-1" href="logout.php" title="{$stringa[logout_alt]}"> {$target}<span
                                        class="glyphicon glyphicon-off"></span> {$stringa[logout_alt]}</a>
                            </li>
                            {/if}
                        </ul>
                    </li>

                    {if="!$id_utente"}
                    <li>
                        <a href="http://{$server}:{$port}/{$context}">
                            <i class="icon-facebook"></i> | <i class="icon-twitter"></i>
                            <i class="icon-linkedin"></i> |
                            Connect using your favourite social identity

                        </a>
                    </li>

                    {/if}
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>